@model PagedList.IPagedList<ToyShop.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="content">
    <h2>Kết quả được tìm thấy</h2>
    @foreach (var item in Model)
    {
        <div class="box">
            <a href="@Url.Action("Detail", "Home", new {id=item.MaSanPham})"><img src="~/Asset/images/@item.Hinh" /></a>
            <div class="pame">@item.TenSanPham</div>
            <div class="pprice">@item.Gia đ</div>
            <a href="@Url.Action("AddToCart", "ShoppingCart", new {id=item.MaSanPham})">Thêm vào giỏ hàng</a>
            <div class="action">
                <a href="@Url.Action("Detail", "Home", new {id=item.MaSanPham})">Chi tiết</a>
            </div>
        </div>
    }
    <div class="pageList">
        <br />
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", "Home", new { page }))
    </div>
</div>




